/* BlueShape.css actualizado */
.blue-shape-container {
  position: relative;
  width: 100%;
  height: 80%;
  overflow: visible;
  margin-bottom: 2rem;
}

.blue-shape-background {
  position: absolute;
  z-index: 0;
  top: 170px;
  left: 200px;
  width: 120%;
  height: 90%;
  background-color: var(--primary-color);
  border-bottom-left-radius: 15rem;
  border-top-left-radius: 15rem;
}

.blue-shape-container.right .blue-shape-background {
  left: auto;
  right: 40%; /* Extiende la forma fuera del contenedor */

  /* Dimensiones */
  width: 110%; /* Ancho extendido */
  height: 80%; /* Altura relativa */
  
  /* Bordes redondeados solo en lado derecho */
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 15rem; /* 240px si prefieres valores fijos */
  border-top-right-radius: 15rem;
}

.blue-shape-content {
  position: relative;
  z-index: 1;
  height: 90%;
  display: flex;
  align-items: left;
  justify-content: flex-start;
  margin-left: var(--spacing-xxl);
  padding: 1rem;
}

/* Estilos para el carousel */
.carousel .carousel-item {
  height: 800px; /* Ajusta según necesites */
}

/* Estilos de imagen */
.image-medium {
  width:200%;
  max-width: 900px;
  height: auto;
  margin-right: 5rem;
}

/* Responsive */
@media (max-width: 992px) {
  .blue-shape-background {
    width: 100%;
    left: 0;
    border-radius: 0;
  }
  
  .blue-shape-container.right .blue-shape-background {
    right: 0;
    border-radius: 0;
  }
  
  .blue-shape-content {
    justify-content: center;
  }
  
  .custom-caption {
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    top: auto;
    bottom: 2rem;
  }
  
  .image-medium {
    margin-right: 0;
    width: 70%;
  }
}

@media (max-width: 768px) {
  .carousel .carousel-item {
    height: auto;
    min-height: 500px;
  }
  
  .blue-shape-content {
    flex-direction: column;
  }
  
  .image-medium {
    width: 80%;
    margin-top: 2rem;
  }
}