/* CTAs */
button {
    border: none;
    background: transparent;
    cursor: pointer;
    font-family: var(--font-family);
    cursor: pointer;
}

.btn--primary {
    background-color: var(--primary-color); 
    color: var(--full-white); /* Texto blanco para mejor contraste */
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-medium);
    padding: var(--spacing-sm) var(--spacing-xl);
    border-radius: var(--border-radius-md);
    border: 2px solid transparent; /* Borde transparente inicial */
    transition: all 0.3s ease; /* Transición suave */
    cursor: pointer;
}

.btn--primary:hover {
    background-color: var(--full-white); /* Color secundario al hacer hover */
    color: var(--primary-color); /* Mantener texto blanco */
    border-color: var(--primary-color); /* Borde del mismo color */
    box-shadow: 6px 5px 10px var(--transparent-grey);
}

.btn--ghost {

    background-color: var(--neutral-off-whit); /* Color gris inicial */
    color: var(--neutral-very-dark-blue); /* Texto blanco para mejor contraste */
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-medium);
    padding: var(--spacing-sm) var(--spacing-xl);
    border-radius: var(--border-radius-md);
    border: 2px solid transparent; /* Borde transparente inicial */
    transition: all 0.3s ease; /* Transición suave */
    cursor: pointer;
}

.btn--ghost:hover {

    background-color: var(--neutral-off-white); /* Color secundario al hacer hover */
    color: var(--neutral-dark-blue); /* Mantener texto blanco */
    border-color: var(--neutral-dark-blue); /* Borde del mismo color */
    box-shadow: 6px 5px 10px var(--transparent-grey);
}

.btn--secondary {
    background-color: var(--secondary-color); /* Color gris inicial */
    color: var(--full-white); /* Texto blanco para mejor contraste */
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-medium);
    padding: var(--spacing-sm) var(--spacing-xl);
    border-radius: var(--border-radius-md);
    border: 2px solid transparent; /* Borde transparente inicial */
    transition: all 0.3s ease; /* Transición suave */
    cursor: pointer;
}

.btn--secondary:hover {
    background-color: var(--full-white); /* Color secundario al hacer hover */
    color: var(--secondary-color); /* Mantener texto blanco */
    border-color: var(--secondary-color); /* Borde del mismo color */
    box-shadow: 6px 5px 10px var(--transparent-grey);
}

.btn--navbutton {
    background-color: var(--full-white); 
    color: var(--neutral-gray); 
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-medium);
    padding: var(--spacing-sm) var(--spacing-md);
    transition: all 0.3s ease; 
    cursor: pointer;
}

.btn--navbutton:hover {
    background-color: var(--full-white); 
    color: var(--secondary-color); 
    border-color: var(--secondary-color); 
    font-weight: var(--font-weight-bold);
}

.btn--outlined {
    background: transparent;
    color: var(--full-white);
    border: 2px solid var(--primary-color);
    width: 100%;
    padding: var(--spacing-sm) 0;
    text-transform: uppercase;
    font-weight: var(--font-weight-bold);
    border-radius: var(--border-radius-md);
    font-size: var(--font-size-md);
    letter-spacing: 2px;
    margin-top: var(--spacing-md);
}

.btn--outlined:hover {
    background: var(--full-white);
    color: var(--primary-color);
    font-weight: 600;
}

.btn--footer {
    color: var(--full-white); 
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-medium);
    padding: var(--spacing-sm) var(--spacing-md);
    transition: all 0.3s ease; 
    cursor: pointer;
}

.btn--footer:hover {
    color: var(--secondary-color); 
    border-color: var(--secondary-color); 
    font-weight: var(--font-weight-bold);
}