
.text-secondary{
    text-align: left;
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    line-height: 1.5;
    color: var(--neutral-gray);
    display: block;
    width: 100%;
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-regular);
}

.text-secondary.center{
    text-align: center;
 
}