.acordion-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem;
    position: relative;
    gap: 2rem;
  }
  
  .acordion-header {
    text-align: center;
    max-width: 600px;
    margin-bottom: 1.5rem;
  }
  
  .acordion-content {
    width: 80%;
    max-width: 800px;
  }
  
  .card-button-container {
    margin-top: 2rem;
    text-align: center;
    padding-bottom: 5rem;
  }
  
  .accordion {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .accordion-item {
    margin-bottom: 1rem;
    border: 1px solid var(--neutral-light-gray);
    border-radius: 8px;
    overflow: hidden;
  }
  
  .accordion-header button {
    font-weight: 600;
    background-color: var(--full-white);
  }
  
  .accordion-header button:not(.collapsed) {
    background-color:var(--brand-white);
    color: var(--secondary-color);
  }
  
  .accordion-body {
    background-color:var(--full-white);
  }
  
  @media (max-width: 768px) {
    .acordion-container {
      padding: 1rem;
      gap: 1.5rem;
    }
    
    .acordion-container.staggered {
      display: flex;
    }
    
    .acordion-content {
      width: 100%;
    }
  }
  