
.card {
    border-radius: 12px;
    overflow: hidden;
    box-shadow: var(--shadow-lg);
    background: var(--full-white);
    display: flex;
    flex-direction: column;
    align-items: center; 
    max-width: 300px;
    margin: 0 auto;
    padding: 1.5rem;
    padding-top: 2rem;
    transition: transform 0.3s ease;
    box-sizing: border-box; 
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card-image-container {
    width: 50%;
    padding: 0;
    margin-bottom: 1.5rem;
  }
  
  .svg-container {
    width: 100%;
    padding: 0 0rem;
   
  }
  
  .card-content {
  
    text-align: center;
    width: 100%; 
    box-sizing: border-box;
  }
  
  .card-button-container {
    width: 150%;
    margin-top: var(--spacing-xs);
    display: flex;
    justify-content: center; 
  }
  