/* Contenedor principal */
.card {
    border-radius: 12px;
    overflow: hidden;
    box-shadow: var(--shadow-lg);
    background: var(--full-white);
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra todos los elementos hijos horizontalmente */
    max-width: 310px;
    margin: 0 auto;
    padding: 1.5rem;
    padding-top: 2rem;
    transition: transform 0.3s ease;
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  /* Contenedor de imagen */
  .card-image-container {
    width: 50%;
    padding: 0;
    margin-bottom: 1.5rem;
  }
  
  /* Contenedor SVG */
  .svg-container {
    width: 100%;
    padding: 0 1.5rem;
    margin: 1rem 0;
  }
  
  /* Contenido de texto */
  .card-content {
    padding: 0 1rem;
    text-align: center;
    width: 100%; /* Asegura que el texto ocupe todo el ancho disponible */
    box-sizing: border-box;
  }
  
  /* Contenedor del botón - Versión mejorada */
  .card-button-container {
    width: 150%;
    margin-top: var(--spacing-md);
    display: flex;
    justify-content: center; /* Centra el botón horizontalmente */
  }
  