.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
    background-color: var(--full-white);
    box-shadow: var(--shadow-sm);
    margin-right: var(--spacing-xxxl);
  }
  
  .navbar-logo-container {
    margin-left:var(--spacing-xxxl);
  }
  
  .navbar-buttons-wrapper {
    display: flex;
    gap: 3rem;
    align-items: center;
  }