/* UnderlineTab.css - Versión simplificada */
.nav-underline .nav-link {
  background: var(--full-white);
  color: var(--neutral-gray);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
  padding: var(--spacing-md) var(--spacing-md);
  border: none;
  border-bottom: 3px solid var(--neutral-gray-50-opacity);
  margin: 0 var(--spacing-xs);
  transition: border-color 0.3s ease, color 0.3s ease;
}

.nav-underline .nav-link:hover {
  color: var(--secondary-color);
  border-bottom-color: var(--secondary-color);
}

.nav-underline .nav-link.active {
  color: var(--neutral-very-dark-blue);
  font-weight: var(--font-weight-bold);
  border-bottom-color: var(--secondary-color);
}