.tab-carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  padding: 3rem 0rem;
  gap: 0rem;
}

.tabs-section {
  width: 100%;
}

.custom-nav-underline {
  display: flex;
  justify-content: center;
  gap: 2rem;
  border-bottom: none;
}

.carousel-section {
  width: 100%;
}



/* Responsive */
@media (max-width: 768px) {
  .tab-carousel-container {
    gap: 1.5rem;
  }
  
  .custom-nav-underline {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
}